/* Styling for Layanan2 component */
.layanan-container {
  padding: 20px;
  margin-left: 20px;
}

.layanan-title {
  font-size: 1.7rem;
  color: #040d12;
  font-family: "Poppins", sans-serif;
}

.layanan-subtitle {
  font-size: 1rem;
  color: #040d12;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 20px;
}

.form-control {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  width: 100%;
  max-width: 300px;
  padding: 10px;
}
